Create a new Jupyter Notebook and save it as “exercise 1”. Check if it was saved
Create a list with 10 numbers, 5 characters and 3 booleans
Extract the third value
Remove the last value
Insert in position 8 the character “A”
Create a tuple with 6 letters
Remove the 4th element.
Create a set for the list created in 2
Create a dictionary with 7 elements. The keys must be name of courses and the values the number of students in each course.

In [19]:
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "a", "b", "c", "d", "E", True, True, False]

In [20]:
i[2]

3

In [21]:
i.remove(i[-1])
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd', 'E', True, True]

In [22]:
i.insert(8, 'A')
i

[1, 2, 3, 4, 5, 6, 7, 8, 'A', 9, 10, 'a', 'b', 'c', 'd', 'E', True, True]

In [23]:
tup = ('a', 'b', 'c', 'd', 'e', 'f')
tup

('a', 'b', 'c', 'd', 'e', 'f')

In [29]:
ltup = list(tup)
ltup.remove(ltup[3])
ltup

['a', 'b', 'c', 'e', 'f']

In [30]:
iset = set(i)
iset

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'E', 'a', 'b', 'c', 'd'}

In [1]:
di = {'Math': 24, 'Heb': 12, 'Biol': 245}
di['Heb'] = 13
di

{'Math': 24, 'Heb': 13, 'Biol': 245}