# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [54]:
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [17]:
i.append(20)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [18]:
i.insert(4, [0, 0])
i

[1, 2, 3, 4, [0, 0], 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [24]:
i.reverse()
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove the last two items from the list

In [45]:
del i [0:2]
i

[3, 4, 5, 6, 8]

6. Invert the order of the list

7. How many items has the list?

In [48]:
len(i)

10

8. Give the minimum, maximum and the sum of all the items in the list

In [52]:
print(min(i))
print(max(i))
print(sum(i))

1
10
55

9. What will happen if you multiply the list by 2?

In [53]:
i * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10. Can you divide the list by 3?

In [59]:
i / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [74]:
x = ('a', 'b', 'c', 1, 2, 3, 4)
x

('a', 'b', 'c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [73]:
lx = list(x)
y = [True, False]
z = lx + y
z

['a', 'b', 'c', 1, 2, 3, 4, True, False]

3. Retrieve the third to sixth items from the tupple

In [67]:
x[3:6]

(1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [77]:
a, b = i
print(a *)

SyntaxError: invalid syntax (3651687242.py, line 2)

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [86]:
my_dict = {'EmployeeID':[1020,2201,3320],'Name':['Harry Smith','Margaret Holsum','Lasly Howard'],'Phone':['030-223.65.44','030-223.64.12','030-223.83.33']}
my_dict

{'EmployeeID': [1020, 2201, 3320],
 'Name': ['Harry Smith', 'Margaret Holsum', 'Lasly Howard'],
 'Phone': ['030-223.65.44', '030-223.64.12', '030-223.83.33']}

1. Get all the keys of the dictionary

In [87]:
my_dict.keys()

dict_keys(['EmployeeID', 'Name', 'Phone'])

2. Get all the values of the dictionary

In [88]:
my_dict.values()

dict_values([[1020, 2201, 3320], ['Harry Smith', 'Margaret Holsum', 'Lasly Howard'], ['030-223.65.44', '030-223.64.12', '030-223.83.33']])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [89]:
my_dict[EmployeeID][2]

NameError: name 'EmployeeID' is not defined

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [104]:
#for x in range(1, 101):
#    if  and  
#    print(x)
primes=[] 
for i in range(2,101): 
    if all(i%p for p in primes): 
        print(i) 
        primes.append(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..