# Python Home Exercises

## Functions in Python
 
Create a function that converts any given time period (days, hours and minutes) into seconds. The input must include a string representing the time period and an integer representing the value of the time period. The function must be like this:
 
<code>
> convert2sec(23,'min')
> 23 minutes = 1380 seconds
</code>

Please take into account the different ways users can input the parameters (see below the running examples)

In [14]:
import numpy as np
### your code
def convert2sec(time,frame):
    if str.lower(frame)[0] == 'm':
        res = time * 60
        tf = "minutes"
    elif str.lower(frame)[0] == 'h':
        res = time * 60 * 60
        tf = "hours"
    elif str.lower(frame)[0] == 'd':
        res = time * 60 * 60 * 24
        tf = "days"
    elif str.lower(frame)[0] == 's':
        res = time
        tf = "seconds"
    else:
        res = "The data you enterd can't be calculated in"
        tf = frame
    
    return  "{} {} = {} seconds".format(time, tf, res)

In [8]:
convert2sec(23,'min')

'23 minutes = 1380 seconds'

In [9]:
convert2sec(3,'DAYS')

'3 days = 259200 seconds'

In [10]:
convert2sec(10,'Hrs')

'10 hours = 36000 seconds'

In [15]:
convert2sec(10,'Sec')

'10 seconds = 10 seconds'

In [16]:
convert2sec(10,'pachs')

"10 pachs = The data you enterd can't be calculated in seconds"

## Object Oriented Programming
---
<code></code>
### Exercise: 
 
1. Write a class for cars. Each car has the following attributes:  
    + Company 
    + Model 
    + BodyStyle 
    + Doors 
    + Cylinders 
    + Hybrid 
 

2. Create a method to retrieve and to set each of the attributes, and a constructor for printing the attribute values.
 
3. Create objects for each of the following car models:

    - Toyota Corola Sedan with 4 doors, 4 cylinder, hybrid
    - Hyundai i30 Hatchback, 5 doors, 4 cylinder
    - Fiat Tipo Wagon, 5 doors, 8 cylinder
    - Seat Leon Hatchback, 3 doors, 4 cylinder
 

4. Use the 'print' function to print each object attributes.

<code></code>
---

In [1]:
class Cars():
    def __init__(self,company="",model="",body_style="",doors=4,cylinders=4,hybrid=False):
        self.company, self.model, self.body_style, self.doors, self.cylinders, self.hybrid = company, model, body_style, doors, cylinders, hybrid
    def setCompany(self, company):
        self.company = company
    def getCompany(self):
        return self.company
    def setModel(self,model):
        self.model = model
    def getModel(self):
        return self.model
    def setBodyStyle(self,body_style):
        self.body_style = body_style
    def getBodyStyle(self):
        return self.body_style
    def setDoors(self,doors):
        self.doors = doors
    def getDoors(self):
        return self.doors
    def setCylinders(self,cylinders):
        self.body_style = cylinders
    def getCylinders(self):
        return self.cylinders
    def setHybrid(self,hybrid):
        self.hybrid = hybrid
    def getHybrid(self):
        return self.hybrid
    def __str__(self):
        return '''Car Company: {} \nCar Model: {} \nCar body: {} \nNumber of doors: {} \nNumber of Cylinders: {} \nHybrid: {} '''.format(self.company, self.model, self.body_style, self.doors, self.cylinders, self.hybrid)

In [2]:
# Toyota Corola Sedan with 4 doors, 4 cylinder, hybrid
car1 = Cars('Toyota','Corola','Sedan',4,4,True)
print(car1)

Car Company: Toyota
Car Model: Corola
Car body: Sedan
Number of doors: 4
Number of Cylinders: 4
Hybrid: True

In [32]:
car1.getBodyStyle()

'Sedan'

In [33]:
car1.getCylinders()

4

In [28]:
# Hyundai i30 Hatchback, 5 doors, 4 cylinder
car2 = Cars('Hyundai', 'i30', 'Hatchback', 5, 4, False)
print(car2)

Car Company: Hyundai
Car Model: i30
Car body: Hatchback
Number of doors: 5
Number of Cylinders: 4
Hybrid: False

In [30]:
# Fiat Tipo Wagon, 5 doors, 8 cylinder
car3 = Cars()
car3.setCompany('Fiat')
car3.setModel('Tipo')
car3.setBodyStyle('Wagon')
car3.setDoors(5)
car3.setCylinders(8)
print(car3)

Car Company: Fiat
Car Model: Tipo
Car body: 8
Number of doors: 5
Number of Cylinders: 4
Hybrid: False

In [31]:
# Seat Leon Hatchback, 3 doors, 4 cylinder
car4 = Cars()
car4.setCompany('Seat')
car4.setModel('Leon')
car4.setBodyStyle('Hatchback')
car4.setDoors(3)
print(car4)

Car Company: Seat
Car Model: Leon
Car body: Hatchback
Number of doors: 3
Number of Cylinders: 4
Hybrid: False